.Tile {
  height: 14rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 0.25em 0.25em 0.25em 0 rgba(140, 140, 140, 0.4);
  border-radius: 5px;
}

.Tile:hover {
  transform: scale(1.1);
  box-shadow: 0.25em 0.25em 0.25em 0 rgba(140, 140, 140, 0.8);
  cursor: pointer;
}

.Icon {
  width: 4rem;
  filter: invert(11%) sepia(2%) saturate(3276%) hue-rotate(169deg) brightness(96%) contrast(90%);
}
