.Content {
  margin-bottom: 1rem;
}

.Cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.LoadingSpinner {
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .Cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .Cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

