:root {
  --color-saffron: hsla(48, 98%, 89%, 1);
  --color-liver-dogs: hsla(32, 95%, 74%, 1);
  --color-dark-red: hsla(6, 92%, 58%, 1);
  --color-tyrian-purple: hsla(318, 97%, 38%, 1);
  --color-independence: hsla(228, 41%, 38%, 1);
  --color-teal: hsla(179, 87%, 49%, 1);
  --color-yale-blue: hsla(205, 97%, 50%, 1);
  --color-blue-sapphire: hsla(201, 55%, 48%, 1);
  --color-xanadu: hsla(162, 14%, 48%, 1);
}
