.Entscheidomat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 400px;
}

.Entscheidomat > * + *:not(h5) {
  margin-top: 1.1rem !important;
}

.Entscheidomat > h5 {
  text-align: center;
}
