.Form {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  padding: 1rem 1rem 1rem 1rem;
  width: 90vw;
  text-align: center;
}

.Location {
  margin-top: 2rem !important;
}

.ButtonControlBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.Map {
  margin-top: 2rem;
  height: 20rem;
}

@media (min-width: 768px) {
  .Form {
    width: 600px;
  }
}
